/*-------------------NULL CSS---------------*/
 *{
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *,*:before,*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  nav, footer, header, aside {
    display: block;
  }
  
  html,body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    background-color: #fff;
    color: #102746;
    font-weight: 500;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: Lato;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  ul, ol, li {
    list-style: none;
  }
  img {
    vertical-align: top;
  }
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
  }
  /*----------------------HEADER-------------------*/
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
.header {
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    z-index: 2;
}
._container {
    padding: 0px 15px;
    margin: 0 auto;
    max-width: 1260px;
}

.header__container {
    max-width: 1060px;
    min-height: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    margin: 0 auto;
}

.header__logo {

}
.header__menu {

}
.menu {

}
.menu__list {
    display: flex;
}
.menu__item {
}
.menu__item:not(:last-child) {
    margin: 0px 82px 0px 0px;
}
.menu__link {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}
/*----------------PAGE----------------*/
.page {

}
.page__main-block {

}
.page__benefits {
  margin: -229px 0px 0px 0px;
  z-index: 5;
  position: relative;
}

.page__places {
  margin-bottom: 131px;
}
.page__perfecture {
  margin-bottom: 139px;
}
.page__visit {

}

.page__mega-video {
  margin-top: 144px;
}

/*------------------MAIN-BLOCK-------------*/
.main-block {

}
.main-block__container {
    max-width: 1060px;
    padding: 0px 15px;
    margin: 0 auto;
}
.main-block__body {
    position: relative;
    padding: 253px 0px 376px 0px;
    margin: 0px 363px 0px 0px;
    z-index: 3;
    color: #fff;
}
.main-block__title {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    max-width: 619px;
    padding-bottom: 22px;
}
.main-block__text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    max-width: 546px;
    padding-bottom: 54px;
}
.main-block__search {

}
.search-form {
    display: flex;
}

.search-form__item:not(:last-child) {
    border-bottom: #fff solid 2px;
    margin: 0px 60px 0px 0px;
    min-width: 297px;
    padding: 0px 0px 22px 0px;
}
.main-block__image {

}
.search-form__radio-input{
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    font-weight: 700;
    padding: 0px 0px 22px 23px;
}
._ibg {

}
._ibg img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search-form__button {
    text-decoration: none;
    font-size: 24px;
    line-height: 28,8px;
    font-weight: 700;
    color:#fff;
    background-color: #1B7DFF;
    padding: 17px 39px;
}
.search-form__item_button {
  align-items: end;
}
/*-------------------------BENEFITS---------------------------*/

.benefits {
  margin-bottom: 100px;
  
}
.benefits__container {

}
.benefits__body {
  box-shadow: 0px 0px 15px 2px rgb(107, 106, 106);
  min-height: 655px;
  position: relative;
  background: #fff;
}
.benefits__title {
  position: absolute;
  top: 93px;
  left: 99px;
  font-size: 35px;
  line-height: 42px;
  font-weight: 700;
  color: #102746;

}
.benefits__content {
  position: absolute;
  top: 255px;
  left: 100px;
  display: flex;
  max-width: 1062px;
 
}
.benefits__item {
}
.item-benefits {
  flex: 0 1 33.3333%;
  padding-right: 55px;
}
.item-benefits__image {
}
.item-benefits__title {
  margin: 37px 0px 26px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
.item-benefits__subtitle {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.item-benefits__link {
  margin-top: 39px;
}
/*---------------LINK-ARROW---------------------*/
.link-arrow a {
  color: #006DFE;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.link-arrow__text {
  display: inline-block;
  padding-right: 26px;
}
.link-arrow__arrow img {
  padding: 8px 0px 0px 0px;
}
/*-------------------------PLACES----------------------*/

.places {

}
.places__container {

}
.places__body {
  display: flex;
  flex-direction: column;

}
.places__title {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;

}
.places__title {
  
}
.places__images {
  margin: 36px 0px 0px 0px;
}
.places__top {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(354px, 1fr));
}

.places__item-top {
  position: relative;
  padding: 0px 0px 57% 0px;

}
.places__item-top img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.places__bottom {
  margin-top: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(283px, 1fr));
}
.places__item-bottom {
  position: relative;
  padding: 0px 0px 68% 0px;
}
.places__item-bottom img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/*----------------TITLE-BLOCK-----------------*/
.title-block__title-text {
  border-bottom: 2px solid #006DFE;
  white-space: nowrap;
  max-width: 253px;
  padding: 0px 0px 7px 0px;
  font-size: 35px;
  line-height: 120%;
  font-weight: 700;
  color: #102746;
}
/*-------------------------PERFECTURE---------------------*/
.perfecture {

}
.perfecture__container {

}
.perfecture__body {

}
.perfecture__content {

}
.content-block {
  display: flex;
}
.content-block_reverse {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 77px;
}
.content-block__image {

}
.content-block__description {
  padding-left: 108px;

}
.content-block__title {
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  color: #102746;

}
.content-block__text {
  margin: 85px 0px 58px 0px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #102746;
}
.content-block__link {

}
.content-block__description_reverse {
  padding: 0px 108px 0px 47px;
}
.content-block__text_reverse {
  margin: 45px 0px 94px 0px;
}
/*------------------VISIT----------------*/
.visit {

}
.visit__container {
  max-width: 1310px;
  padding: 0px 15px;
  margin: 0 auto;
}
.visit__body {
  margin-top: 54px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(392px, 1fr));
  column-gap: 52px;
  row-gap: 58px;
}
.visit__item {

}
.item-visit {
  display: grid;
  grid-template: auto 1fr minmax(42px, auto) / 1fr;
}
.item-visit__image {
  position: relative;

}
.item-visit__text {
  margin: 45px 0px 31px 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.item-visit__button {
  color: #fff;
  padding: 12px 19px;
  background: #006DFE;
  font-size: 16px;
  line-height: 19,2px;
  font-weight: 400;
  width: 118px;
}

.item-visit__icons {
  position: absolute;
  left: 25px;
  bottom: 15px;
  display: flex;
  justify-content: space-between;
  min-width: 336px;
}
.item-visit__name {
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.item-visit__reaction {
  display: flex;
}
.item-visit__likes {
  background: url(img/visit/icon1.svg) no-repeat right;
  padding-right: 20px;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}
.item-visit__comments {
  background: url(img/visit/icon2.svg) no-repeat right;
  padding-right: 20px;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin-left: 14px;
}
/*--------------------VIDEO---------------------*/
.mega-video {
 
}
.mega-video__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 15px;
}

.mega-video__video {
  position: relative;
  padding: 0px 0px 42.3% 0px;

}

.mega-video__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*--------------------FOTTER---------------*/
.footer {
  background-color: #0E1D28;
  

}
.footer__body {
  padding: 118px 167px 118px 194px;
  display: flex;

}
.footer__logo {

}
.footer__menu {

}
.footer__column {
  display: flex;
  margin-left: 350px;
}
.footer__item {

}
.item-block {

}
.item-block:not(:last-child) {
  padding: 0px 140px 0px 0px;

}
.item-block__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color:#fff;
}
.item-block__list {

}
.item-block__item a {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color:#fff;

}








